* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc; /* Серый цвет */
  border-radius: 8px; /* Округлые углы */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
  background-color: #f9f9f9; /* Светло-серый фон */
  transition: transform 0.2s, box-shadow 0.2s; /* Плавный переход */
}


/* Основной блок задач */
.tasks {
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
}
.task:hover {
  transform: translateY(1%);/* Лёгкое поднятие при наведении вер*/
  transform: translateX(1%);/* Лёгкое поднятие при наведении гор*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}

.task-control {
  flex-basis: 5%;
  text-align: center;
  color: #555; /* Тёмно-серый текст */
}

.task-text {
  flex-basis: 79%;
  text-align: center;
  color: #333; /* Тёмно-серый для текста */
  border-left: 1px solid black; /* Светлый серый */
  border-right: 1px solid black; /* Светлый серый */
  padding: 0 10px; /* Внутренний отступ */
  font-size: 16px; /* Размер шрифта */
}


.task-date {
  flex-basis: 10%;
  text-align: center;
  font-weight: bold; /* Жирный текст */
  color: #777; /* Бледно-серый */
}

body{
  background-color: #777;
}
