* {
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
border: 0;
}

body {
font-family: Arial, sans-serif; /* Шрифт для всего документа */
background-color: #f4f4f4; /* Легкий серый фон */
color: #333; /* Тёмно-серый цвет текста по умолчанию */
}

.task {
display: flex;
justify-content: space-between;
padding: 20px;
border: 1px solid #ccc;
background-color: #ffffff; /* Белый фон для задач */
border-radius: 8px; /* Скругленные углы */
margin-bottom: 10px; /* Отступ снизу */
transition: background-color 0.3s ease; /* Плавный переход фона */
}

.task:hover {
background-color: #f0f0f0; /* Цвет фона при наведении */
}

.task-control {
flex-basis: 5%;
display: flex;
justify-content: center;
align-items: center;
}

.task-text {
flex-basis: 80%;
text-align: center;
color: #333;
border-left: 1px solid #ccc;
border-right: 1px solid #aaa;
padding: 10px;
border-radius: 4px; /* Скругленные углы */
}

.task-text:hover {
background-color: #f9f9f9; /* Цвет фона текста при наведении */
}

.task-date {
flex-basis: 10%;
text-align: center;
font-weight: bold; /* Жирный шрифт для даты */
color: #555; /* Более светлый оттенок серого */
}
